<div id="search-order" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Search Order</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Search Order</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card height-auto" style="margin: 10px">
        <div class="card-body">
            <div class="heading-layout1 d-flex justify-content-end mb-3">
                <!-- <div>
                    <label for="">Order Id: </label>
                    <label id="orderId" class="text-info" for="">O001</label>
                </div> -->
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-warning"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
<!--             <div style="display: flex; flex-wrap: wrap; justify-content: flex-end">
                <input id="itemCode" type="text" placeholder="Item Code" style="margin-left: 30px">
                <input id="itemName" type="text" placeholder="Item Name" disabled style="margin-left: 30px">
                <input id="rate" type="text" placeholder="Rate" disabled style="margin-left: 30px">
                <input id="qty" type="text" placeholder="Qty" style="margin-left: 30px">
                <input id="subTotal" type="text" placeholder="Sub Total" disabled style="margin-top: 20px">
            </div>
            <div class="col-12" style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button id="btnAddToCart" style="margin-right: 10px" type="button" class="btn-success">Add to Cart</button>
                <button id="btnClear" type="button" class="btn-dark">Clear</button>
            </div> -->
            <div class="table-responsive" style="margin: 20px 0 20px 0;">
                <table id="tblOrder" class="table display text-nowrap">
                    <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input checkAll">
                                <label class="form-check-label">Order ID</label>
                            </div>
                        </th>
                        <th>Sub Total</th>
                        <th>Discount</th>
                        <th>Net Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <!-- <div style="display: flex; flex-direction: column; align-items: flex-end">
                <input id="CartSubTotal" style="width: 200px;margin: 5px" type="text" placeholder="Sub Total" disabled>
                <input id="discount" style="width: 200px;margin: 5px" type="text" placeholder="Discount" value="0.00">
                <input id="netTotal" style="width: 200px;margin: 5px" type="text" placeholder="Net Total" disabled>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <button id="btnSaveBill" style="margin: 10px 10px 10px 0" class="btn-success">Save Bill</button>
                <button id="btnCancelBill" style="margin: 10px 10px 10px 0" class="btn-dark">Cancel Bill</button>
            </div> -->
        </div>
    </div>






    <!-- /.content -->
  </div>